<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        #banner{
            height:360px;
            width:100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
    <img class="img-fluid" id="banner"src="static\background.jpg" alt="Career picture">
    <h2 class="text-center mt-2 mb-4">About Jovian</h2>

    <p class="lead">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Blandit libero pulvinar massa nascetur proin suscipit. Velit dapibus eget duis facilisi hac adipiscing. Fermentum venenatis aliquet mauris eu sapien vestibulum. Orci purus est sociosqu nisi lacus. Aliquet feugiat justo dui odio arcu nulla ultrices. Velit nulla dictumst conubia etiam commodo lobortis magna id finibus. Magna ad curabitur nullam ex porta.
    </p>
    
    <h2 class="text-center">Open Positions</h2>

    <div style="margin-bottom:16px;">
        {% for job in jobs %}

        {% include 'jobItem.html' %}
        
        {% endfor %}
    </div>

    <div class="text-center">
    <button class="btn btn-primary btn-lg">Contact us</button>
    <p class="mt-4">Copyright 2024, Jovian</p>
    </div>
</div>
</body>
</html>